<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sonymobile.themes.id009" platformBuildVersionCode="23" platformBuildVersionName="6.0-1">
    <runtime-skin version="1">
        <asset path="com.sonyericsson.android.socialphonebook.zip" target="com.sonyericsson.android.socialphonebook">
            <laf-version-filter from="3" to="3"/>
        </asset>
        <asset path="com.sonyericsson.home.zip" target="com.sonyericsson.home">
            <laf-version-filter from="1" to="1"/>
        </asset>
        <asset path="com.sonyericsson.conversations.zip" target="com.sonyericsson.conversations">
            <laf-version-filter from="3" to="3"/>
        </asset>
        <asset path="com.sonyericsson.organizer.zip" target="com.sonyericsson.organizer">
            <laf-version-filter from="3" to="3"/>
        </asset>
        <asset path="com.sonymobile.email.zip" target="com.sonymobile.email">
            <laf-version-filter from="1" to="1"/>
        </asset>
        <asset path="android.zip" target="android">
            <laf-version-filter from="2" to="2"/>
        </asset>
        <asset path="com.android.systemui.zip" target="com.android.systemui">
            <laf-version-filter from="2" to="2"/>
        </asset>
    </runtime-skin>
    <uses-permission android:name="com.sonymobile.permission.RUNTIME_SKIN"/>
    <application android:allowBackup="false" android:icon="@drawable/semc_theme_preview" android:label="@string/somc_theme_title">
        <uses-library android:name="com.sonymobile.runtimeskinning"/>
        <meta-data android:name="com.sonymobile.runtimeskinning.core.image_wallpaper" android:resource="@drawable/semc_theme_wallpaper"/>
        <meta-data android:name="com.sonymobile.runtimeskinning.core.lockscreen_background" android:resource="@drawable/semc_theme_lockscreen_wallpaper"/>
        <meta-data android:name="com.sonymobile.runtimeskinning.core.SKIN_COLOR" android:resource="@color/skin_color"/>
    </application>
</manifest>
